<header class="p-3 bg-dark text-white">
    <div class="container" th:fragment="header">
        <div class="d-flex flex-wrap align-items-start justify-content-center justify-content-lg-start">
            <a th:href="@{/}"
               class="d-flex align-items-start mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="@{/resources/images/icon.png}"
                     class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"
                     alt="Library">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/adminPage}"
                       class="nav-link px-2 text-white" th:text="#{button.home}">Home</a></li>
                <li><a th:href="@{/allUsersPage}"
                       class="nav-link px-2 text-white" th:text="#{button.allUser}">All users</a></li>
                <li><a th:href="@{/allEmployeesPage}"
                       class="nav-link px-2 text-white" th:text="#{button.allEmployees}">All employees</a></li>
                <li><a th:href="@{/addEmployeePage}"
                       class="nav-link px-2 text-white" th:text="#{button.newEmployee}">Add employee</a></li>
                <li><a th:href="@{/blockUserPage}"
                       class="nav-link px-2 text-white" th:text="#{button.block}">Block</a></li>
                <li>
                    <div th:replace="/fragments/locale::locale"></div>
                </li>
            </ul>
            <form th:action="@{/logout}" th:method="get" enctype="application/x-www-form-urlencoded">
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-light me-2">Log out</button>
                </div>
            </form>
        </div>
    </div>
</header>
