<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/resources/css/customAlert.css}">
</head>
<body>
<div th:replace="page/admin/adminHeader.html ::  header"></div>
<table class="table table-striped table-bordered">
    <caption th:text="#{caption.allUser}">Caption</caption>
    <thead class="table-dark">
    <tr>
        <th scope="col" th:text="ID">ID</th>
        <th scope="row" th:text="#{th.username}">Username</th>
        <th scope="row" th:text="#{th.role}">Role</th>
        <th scope="row" th:text="#{label.name}">Name</th>
        <th scope="row" th:text="#{label.surname}">Surname</th>
        <th scope="row" th:text="#{label.phone}">Phone</th>
        <th scope="row" th:text="#{label.email}">Email</th>
        <th scope="col" th:text="#{th.ban}">Ban</th>
        <th scope="col" th:text="#{th.delete}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.userData.name}"></td>
        <td th:text="${user.userData.surname}"></td>
        <td th:text="${user.userData.phoneNumber}"></td>
        <td th:text="${user.userData.emailAddress}"></td>
        <td>
            <span th:if="${user.isBanned()==true}">Block</span>
            <span th:unless="${user.isBanned()==true}">Not block</span>
        </td>
        <td>
            <div>
                <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}">
                    <input class="btn-dark" type="submit" th:value="#{th.delete}">
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${param.cannotDel}"
     class="alert alert-dark alert-custom" role="alert">
    <span th:text="#{alert.cannotDel}">The user cannot be deleted. The user still has active orders.</span>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
            <li class="page-item" th:each="page,iterStat:${countPages}">
                <a class="page-link" th:href="@{'?offset='+${page}}" th:text="${iterStat.count}"></a>
            </li>
    </ul>
</nav>
<div th:replace="page/admin/adminFooter.html :: footer"></div>
<script th:src="@{/resources/js/bootstrap.js}"></script>
</body>
</html>
