<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add section page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
</head>
<body>
<div th:replace="page/librarian/librarianHeader.html :: header"></div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-5 mt-5 p-3">
            <form th:method="post" th:action="@{/addSection}" th:object="${section}"
                  enctype="application/x-www-form-urlencoded">

                <div class="mb-3">
                    <label for="inputNameSection" class="form-label" th:text="#{th.section}">Section</label>
                    <input th:field="*{name}" type="text"
                           pattern="^[A-ZА-Яа-яa-z\s]+$" class="form-control" id="inputNameSection"
                           th:placeholder="#{placeholder.section}" required>
                </div>

                <div th:if="${#fields.hasErrors('name')}"
                     class="alert alert-dark" role="alert">
                    <span th:errors="*{name}">Name error</span>
                </div>

                <button type="submit" class="btn btn-dark" th:text="#{button.submit}">Submit</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/resources/js/bootstrap.js}"></script>
</body>
</html>
