<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User orders</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
</head>
<body>

<div th:replace="page/librarian/librarianHeader.html :: header"></div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-3 mt-5 p-3">
            <form th:method="get" th:action="@{/librarian/findUserOrder/{username}(username=${username})}"
                  enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                <label class="form-label" th:text="#{th.username}">Username</label>
                <label>
                    <select th:name="username" class="form-select">
                        <option th:each="user:${allUsers}" th:text="${user.username}" th:value="${user.username}"></option>
                    </select>
                </label>
            </div>
            <button type="submit" class="btn btn-dark" th:text="#{button.submit}">Submit</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/resources/js/bootstrap.js}"></script>
</body>
</html>
