<header class="p-3 bg-dark text-white">
    <div class="container" th:fragment="header">
        <div class="d-flex flex-wrap align-items-start justify-content-center justify-content-lg-start">
            <a th:href="@{/}"
               class="d-flex align-items-start mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="@{/resources/images/icon.png}"
                     class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"
                     alt="Library">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/librarianPage}"
                       class="nav-link px-2 text-white" th:text="#{button.home}">Home</a></li>
                <li><a th:href="@{/showAllBooks}"
                       class="nav-link px-2 text-white" th:text="#{button.allBooks}">All books</a></li>
                <li><a th:href="@{/allOrderPage}"
                       class="nav-link px-2 text-white" th:text="#{button.allOrd}">All orders</a></li>
                <li><a th:href="@{/findUserOrderPage}"
                       class="nav-link px-2 text-white" th:text="#{button.userOrd}">User order</a></li>
                <li><a th:href="@{/addBookPage}"
                       class="nav-link px-2 text-white" th:text="#{button.addBook}">Add order</a></li>
                <li><a th:href="@{/addGenrePage}"
                       class="nav-link px-2 text-white" th:text="#{button.addGenre}">Add genre</a></li>
                <li><a th:href="@{/addAuthorPage}"
                       class="nav-link px-2 text-white" th:text="#{button.addAuthor}">Add author</a></li>
                <li><a th:href="@{/addSectionPage}"
                       class="nav-link px-2 text-white" th:text="#{button.addSection}">Add section</a></li>
                <li>
                    <div th:replace="/fragments/locale::locale"></div>
                </li>
            </ul>

            <form th:action="@{/logout}" th:method="get"
                  enctype="application/x-www-form-urlencoded">
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-light me-2">Log out</button>
                </div>
            </form>
        </div>
    </div>
</header>
