<header class="p-3 bg-dark text-white">
    <div class="container" th:fragment="header">
        <div class="d-flex flex-wrap align-items-start justify-content-center justify-content-lg-start">
            <a th:href="@{/}"
               class="d-flex align-items-start mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="@{/resources/images/icon.png}"
                     class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"
                     alt="Library">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/userPage}"
                       class="nav-link px-2 text-white" th:text="#{button.home}">Home button</a></li>
                <li><a th:href="@{/showAllBooks}"
                       class="nav-link px-2 text-white" th:text="#{button.allBooks}">All book</a></li>
                <li><a th:href="@{/allAuthorPage}"
                       class="nav-link px-2 text-white" th:text="#{button.allAuthors}">All authors</a></li>
                <li><a th:href="@{/shoppingCart}"
                       class="nav-link px-2 text-white" th:text="#{button.cart}">Cart</a></li>
                <li><a th:href="@{/showUserOrder}"
                       class="nav-link px-2 text-white" th:text="#{button.myOrder}">My orders</a></li>
                <li><a th:href="@{/editUserPage}"
                       class="nav-link px-2 text-white" th:text="#{button.editUserInfo}">Edit user</a></li>
                <li><a th:href="@{/showUserInfo}"
                       class="nav-link px-2 text-white" th:text="#{button.aboutUser}">About user</a></li>
                <li>
                    <div th:replace="~{fragments/locale::locale}"></div>
                </li>
            </ul>
            <form th:action="@{/logout}" th:method="get">
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-light me-2">Log out</button>
                </div>
            </form>
        </div>
    </div>
</header>
